REDIS_DATABASES=16
REDIS_MAXMEMORY=512mb
REDIS_APPENDONLY="yes"

REDIS_USER=user
REDIS_PASSWORD=mypassword
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Construct Redis URL automatically
REDIS_URL=redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}

SERVER_MAC_ADDRESS=
SERVER_NETWORK_ADDRESS=