[Unit]
Description=console
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/console
Environment="REDIS_URL=redis://user:mypassword@localhost:6379/0"
Environment="SERVER_MAC_ADDRESS=00:00:00:00:00:00"
Environment="SERVER_NETWORK_ADDRESS=192.168.1.100:7"
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
